body {
	display: flex;
	justify-content: space-between;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: xx-large;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  height: 100%;
  margin: 0;
}

  body {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
  }
  

  .side {
    background-color: #C36FEC;
    padding: 0 1.5rem; 
  }
  
  .middle {
    width: 100%;
    background-color: #BB56ED;
    /* display: flex;
    flex-direction: column; */
  }
  

/* Typography */

h1 {
  font-size: 2.6rem;
  font-weight: 800;
  margin: 0;
  padding-top: 0.7em;
}




.wins {
  font-size: x-large;
  font-weight: 300;
}












.hidden {
  display: none;
}